// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap";
//Login
@import 'scss/login';
@import 'scss/general';
@import 'scss/nav.scss';
@import 'scss/usuarios.scss';
@import 'scss/header';
@import 'scss/footer';
@import 'scss/todastrab';
