.footer{
    bottom: 0;
    position: absolute;
    .first-footer-line{
        background-color: #f3f3f3;
        min-height: 35px;
    }
    .second-footer-line{
        background-color: #1d4e8e;
        min-height: 55px;
        .footer-txt{
           font-size: 18px;
           color: #f3f3f3;
        }
        .first-footer-txt{
            font-size: 19px;
        }
        .second-footer-txt{
            opacity: 80%;
        }
        .second-footer-txt:hover{
            color: #50b2ce;
            text-decoration: none;
        }
    }
}
