html,body{
    height: 100%;
}
//Paleta de colores DeltaSAD
$rect_mobil: #2679B9;
$letras_negras: #1F1F1F;
$links_click:#50B2CE;
//FUENTES
/*
@font-face{
    font-family:"Montserrat";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin MontserratNormal(){
    font-family:"Montserrat";
}

@font-face{
    font-family:"Nobile";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin NobileNormal(){
    font-family:"Nobile";
}

@font-face{
    font-family:"Hind Guntur";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin Hind_GunturNormal(){
    font-family:"Hind Guntur";
}
*/
//css

.input_general{
        height: 38px;
        font-size: 18px !important;
        box-shadow: inset 0 0 5px #00000061 !important;
        color: #ADADAD !important;
}
.header_popup{
    background-color: #486C9C !important;
    color: white;
}
.popup_body {
    color: #1F1F1F !important;
}
.content-box {
    box-shadow: 0px 0px 19px 3px rgba(29,78,142,0.8) !important;
    background-color: #F3F3F3 !important;
}
.swal2-styled.swal2-confirm{
    background-color: #2679B9 !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(103, 158, 240, 0.5) !important;
}
.close-cross{
    width: 15px;
}
.btn-general{
    background-color: #2679B9;
    color: #ffffff;
    font-size: 18px !important;
}
.btn-general:hover{
    background-color: #50b2ce;
    color: #ffffff !important;
}
section{
    .container-principal{
        width: 95% !important;
        max-width: 1440px !important;
        margin: 0 auto;
        margin: 5% auto 5%;
    }
    .content-text{
        font-size: 18px;
        color: #1F1F1F;
        background-color: #ffffff;
        border-radius: 5px;
        border: #1D4E8E 1px solid;
    }
    .first-text{
        color: #1D4E8E;
        font-size: 18px;
    }
    textarea{
        resize: none;
        width: 100%;
    }
    hr{
        background-color: #2679B9;
        height: 1px;
        margin-top: 0 !important;
    }
    .mas{
        width: 20px;
    }
    thead{
        background-color: #486C9C;
        color: #ffffff;
    }
    tbody{
        color: #151F1E;
    }
    thead, tbody{
        font-size: 12px;
    }
}
@media(max-width: 990px){
    section{
        .btn-general{
            font-size: 14px !important;
        }
        .content-text{
            font-size: 14px;
        }
        .first-text{
            font-size: 14px;
        }
    }
}
