html,body{
    height: 100%;
}
//Paleta de colores DeltaSAD
$rect_mobil: #2679B9;
$letras_negras: #1F1F1F;
$links_click:#50B2CE;
//FUENTES

@font-face{
    font-family:"Montserrat";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin MontserratNormal(){
    font-family:"Montserrat";
}

@font-face{
    font-family:"Nobile";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin NobileNormal(){
    font-family:"Nobile";
}

@font-face{
    font-family:"Hind Guntur";
    //src:url('');
    //src:url('') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@mixin Hind_GunturNormal(){
    font-family:"Hind Guntur";
}

//css
.botton_general{
    background-color: #2679b9e8 !important;
    border-radius: 2px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 18px;
    font-family: monospace;
}
.botton_general:hover{
    background-color: #2679B9 !important;
}
.input_general{

        height: 38px;
        font-size: 18px !important;
        box-shadow: inset 0 0 5px #00000061 !important;
        color: #ADADAD !important;

}


