.header{
    background-color: #f3f3f3;
    font-size: 18px;
    .logo{
        width: 70px;
    }
    .usuario{
        color: #50B2CE;
    }
    .date{
        color:#151F1E;
    }
    .logout{
        width: 20px;
    }
}


