body{

    background-color: F3F3F3;
}

.container{
.header{
    font-size: 18px;
    .logo{
        width: 50%;
    }

    .usuario span{
        color: #50B2CE;

    }
    .date{
        color:#151F1E;

    }
}

}

