.login{
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    height: 100%;
    .login_body{
        .container-popup{
            .popup{
                max-width: 750px;
                border: 1px solid #2679B9;
                box-shadow: 0px 0px 2px 2px rgb(29 78 142 / 50%);
                display: none;
                height: 55px;
                text-align: start;
                font-size: 14px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 5px;
                position: relative;
                top: -70px;
                .close_login {
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    .close-icon{
                        min-width: 15px;
                        max-width: 15px;
                    }
                }
            }
        }
        .login_form{
            border-radius: 5px;
            background-color: rgba(255,255,255,.8);
            max-width: 700px;
            .formulario{
                width: 100%;
                .remerberme{
                    color:#1F1F1F;
                    margin-top: 26px;
                    font-weight: normal !important;
                    .form-check-input{
                        position: relative;
                    }
                    .form-check-label{
                        position: relative;
                        bottom: 2px;
                        font-size: 14px;
                    }
                }
                .dni_login, .password_login{
                    margin-top: 41px;
                }
                #dni_input_login,#password_input_login{
                    font-size: 18px;
                    box-shadow: inset 0 0 5px #00000061;
                    color: #ADADAD !important;
                }
                .rect_mobil {
                    background-color: #2679B9;
                    border-radius: 2px;
                    color: white;
                    font-size: 18px;
                    position: absolute;
                    height: 33px;
                    left: 16.8%;
                    z-index: 9;
                    width: 130px;
                }
                .botton_login{
                    margin-top: 19px;
                    width: 95%;
                    font-size: 18px;
                }
                .forgot_password{
                    color: #1F1F1F;
                    margin-top: 37px;
                    font-size: 17px;
                    margin-bottom: 37px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .login{
        .login_body{
            .container-popup{
                .popup{
                    top: 250px;
                    z-index: 10;
                }
            }
            .login_form{
                .formulario{
                    .rect_mobil{
                        font-size: 14px;
                        width: 100px;
                    }
                    .botton_login{
                        font-size: 14px;
                    }
                    .remerberme{
                        .form-check-label{
                            font-size: 12px;
                        }
                    }
                    .forgot_password{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: 430px){
    .login{
        .login_body{
            .container-popup{
                .popup{
                    height: 90px;
                    top: 250px;
                }
            }
        }
    }
}
