.navegador{
    background-color: #1D4E8E;
    width: 200px;
    opacity: 78%;
    .contenido-nav{
        height: 100%;
        .nav-link{
            text-decoration: none;
            .text-nav{
                font-size: 18px;
                color: #FFFFFF;
            }
            .nav-icon-img{
                width: 60px;
            }
            .nav-icon-img:hover{
                width: 65px;
            }
        }
    }
}
@media (max-width: 767px){
    .navegador{
        max-height: 200px;
        .contenido-nav{
            .nav-link{
                .text-nav:hover{
                    color: #b8e5e5;
                    text-decoration: underline;
                }
                .nav-icon-img{
                    display: none;
                }
            }
        }
    }
}
