.modal{
    .modal-dialog{
        .modal-content{
            box-shadow: 0px 0px 19px 3px rgba(29,78,142,0.8) !important;
            background-color: #F3F3F3 !important;
            .first-text{
                color: #1D4E8E;
                font-size: 18px;
            }
            .content-text{
                font-size: 18px;
                color: #1F1F1F;
                background-color: #ffffff;
                border-radius: 5px;
                border: #1D4E8E 1px solid;
            }
            textarea{
                border: none;
                resize: none;
                width: 100%;
                font-size: 18px;
                color: #1F1F1F;
            }
        }
    }
}
@media(max-width: 767px){
    .modal{
        .modal-dialog{
            .modal-content{
                .first-text{
                    font-size: 14px;
                }
                .content-text{
                    font-size: 14px;
                }
                textarea{
                    font-size: 14px;
                }
            }
        }
    }
}

