.usuarios{
    width: 95%;
    .title-user{
        font-size: 32px;
        color: #151F1E;
    }
    .subtitle-user{
        font-size: 36px;
        color: #1D4E8E;
    }
    .user-underline{
        background-color: #2679B9;
        height: 1px;
    }
    .user-list{
        list-style-image: url('/img/icons/usuario.png');
    }
}

.userForm input{
    display: none;
}
.userForm label{
    display: none;
    font-size: smaller;
    color: crimson;
}
