.usuarios{
    width: 95%;
    .title-user{
        font-size: 32px;
        color: #151F1E;
    }
    .subtitle-user{
        font-size: 36px;
        color: #1D4E8E;
    }
    .user-list{
        list-style-image: url('/img/icons/usuario.png');
    }
}
